<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Spring Boot Example</title>

    <style type="text/css">
        .ng-cloak { display: none }
    </style>
</head>

<body class="ng-cloak" ng-app="app" ng-controller="PostCtrl as vm">

    <label for="title">Pealkiri</label>
    <input id="title" ng-model="vm.newPost.title"><br>

    <label for="text">Text</label>
    <input id="text" ng-model="vm.newPost.text"><br>

    <button ng-click="vm.insertNew()">Lisa uus</button>

    <br><br><br>

    <input ng-model="vm.filterText"><button ng-click="vm.filter()">Filter</button>

    <div ng-repeat="post in vm.posts">
        {{ post.title }}, {{ post.text }}
    </div>

</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>

</html>
